.landing {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-top: 25px;
	padding: 0 35px;
	width: 100%;
}

.landing h1 {
	font-weight: 300;
}

.landing__products-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 15px;
	width: 100%;
}

.landing__full-shop-link {
	color: #5c8dff;
	cursor: pointer;
	margin-top: 34px;
	text-decoration: underline;
}

.landing__full-shop-link:hover {
	color: #4670c6;
}
