.cart-item {
	align-items: center;
	border-bottom: 1px solid black;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 12px 8px;
	width: 300px;
}

.cart-item__name-logo-wrapper {
	align-items: center;
	display: flex;
}
.cart-item__logo {
	height: 50px;
	margin-right: 16px;
}